<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The To-Brew List Breweries</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../../public/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
<body>

    <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo"><i class="large material-icons">local_drink</i>The To-Brew List</a> 
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">About Us</a></li>
        <li><a href="get-started.html">Get Started</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="index.html">About Us</a></li>
        <li><a href="get-started.html">Get Started</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br>

  <div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../public/assets/images/compassrose.jpg">
          <span class="card-title">Compass Rose</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Compass Rose Brewery opened its doors as Northeast Raleigh’s first craft brewery in 2015. We are an independently owned 10-BBL
          brewery founded by two businessmen with a passion for exploration and a love of fresh craft beer</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../public/assets/images/redoak.jpg">
          <span class="card-title">Red Oak Brewery</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Fresh, Pure, Bavarian-Style Lagers</p>
        </div>
      </div>
    </div>
  </div>
</div>

    
</body>
</html>