<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>The To-Brew List</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" />
  <link href="../../public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../public/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

 
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo"><i class="large material-icons">local_drink</i>The To-Brew List</a> 
      <ul class="right hide-on-med-and-down">
        <li><a href="breweries.html"><i class="material-icons left">search</i>Find a Brewery</a></type></li>
        <li><a href="get-started.html">Get Started</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="breweries.html"><i class="material-icons left">search</i>Find a Brewery</a></type></li>
        <li><a href="get-started.html">Get Started</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-darken-4" id="head">Find. Visit. Done.</h1>
        <div class="row center">
          <h5 class="header col s12 yellow-text">Like your honey-do list, but for beer.</h5>
        </div>
        <div class="row center">
          <a href="get-started.html" id="download-button" class="btn-large waves-effect waves-light orange lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../../public/assets/images/background2.jpg" alt="Brewery Picture"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">add</i></h2>
            <h5 class="center" id="topic">Find a New Brewery</h5>

            <p class="light" id="info">Search through hundreds of North Carolina breweries. Find one you like, then add it to your personal To-Brew List!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center" id="topic">Leave a Review</h5>

            <p class="light" id="info">Did you discover a new favorite beer? Maybe you just really loved the atmosphere. Either way, leave a review for others to see. You can even rate the brewery from 1 beer glass to a full pitcher! </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">check</i></h2>
            <h5 class="center" id="topic">Check it Off Your List</h5>

            <p class="light" id="info">After your visit, check it off your To-Brew List and move on to the next! It's that easy.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax"><img src="../../public/assets/images/background1.jpg" alt="Brewery Pic"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 id="topic">About Us</h4>
          <p class="left-align light" id="info">We are a team of Developers who like to drink beer. A lot of beer. On our quest for even more beer, we wanted any easy way to find new breweries, keep a list of ones we'd like to visit, and then share our discoveries with others. Want to see what else we're up to? Connect with us below for even more projects. We hope you enjoy!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax"><img src="../../public/assets/images/background3.jpg" alt="Brewery"></div>
  </div>

  <footer class="page-footer amber darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Connect With Us</h5>
          <p class="grey-text text-lighten-4" id="info"></p>
          <ul>
            <li><a class="white-text" href="https://github.com/wesdriver45" target="_blank"><i class="small material-icons">filter_hdr</i>Wesley Blake</a></li>
            <li><a class="white-text" href="https://github.com/reharka" target="_blank"><i class="small material-icons">local_florist</i>Robyn Harka</a></li>
          </ul>
        </div>
         <div class="col l3 s12">
          <ul>
            <br>
            <br>
            <li><a class="white-text" href="https://github.com/connorleach820" target="_blank"><i class="small material-icons">local_cafe</i>Connor Leach</a></li>
            <li><a class="white-text" href="https://github.com/Bobleb" target="_blank"><i class="small material-icons">local_pizza</i>Tristan Ernhart</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="white-text" href="https://github.com/To-Brew-List/To-Brew-List" target="_blank">© 2018 The To-Brew List</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
  <script src="../../public/js/materialize.js"></script>
  <script src="../../public/js/init.js"></script>

  </body>
</html>
